{#
/**
 * @file
 * Default theme implementation to display a hierarchical select form widget.
 *
 * Available variables:
 * - element: Form element for the file upload.
 * - attributes: HTML attributes for the containing element.
 *
 * @see template_preprocess_hierarchical_select()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>{{ container }}</div>
